// Main styles entry point
@use 'variables';

body {
  margin: 0;
  padding: 0;
  color: variables.$primary-color;
  background-color: variables.$background-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
